/*paint style*/ 
:root{
    --white: #ffffff;
    --black: #1e1e1e;
    --primary-3---primary: #00587c;
    --primary-2---primary-70pct: #4d8aa3;
    --primary-1---primary-10pct: #e6eef2;
    --secondary-3---secondary: #00aec7;
    --secondary-2---secondary-40pct: #99dfe9;
    --secondary-1---secondary-10pct: #ecfbfd;
    --accent-2---accent-dark: #eda900;
    --accent-1---accent-light: #ffc627;
    --feedback-error: #dd0000;
    --feedback-error-light: #fbdbdb;
    --feedback-warning: #f9a000;
    --feedback-warning-light: #fcf3e4;
    --feedback-succes: #358451;
    --feedback-success-light: #eef6e5;
    --feedback-info-light: #ecfbfd;
    --feedback-info-dark: #00aec7;
    --grayscale-5---dark: #4f4f4f;
    --grayscale-4---medium: #787878;
    --grayscale-3---light: #bbbbbb;
    --grayscale-2---disable: #dddddd;
    --grayscale-1---extra-light: #f6f6f6;
    --grayscale-00---super-light: #ffffff;
    --extra-color-x---04-blue: #0071ee;
    --extra-color-x---03: #f2f5f7;
    --extra-color-x---02: #459af7;
    --extra-color-x---01: #fef9f6;
    --extra-color-tutorial-overlay: #001f2bcc;
    --gradient-gradient: support only solid color;
    --illustrations-01: #f3ad8b;
    --illustrations-02: #cf663d;
    --illustrations-03: #99dfe9;
    --illustrations-04: #9bd3dd;
    --illustrations-05: #65dce2;
    --illustrations-06: #5fc5d1;
    --illustrations-07: #00aec7;
    --illustrations-08: #00587c;
    --illustrations-09: #00425d;
    --illustrations-10: #e3f1f3;
    --illustrations-11: #c4d4d5;
    --illustrations-12: #6097ad;
    --illustrations-13: #547c81;
    --illustrations-14: #ffe4ad;
    --illustrations-15: #fed385;
    --illustrations-16: #efbd63;
    --illustrations-17: #ffc627;
    --illustrations-18: #eda900;
    --illustrations-19: #f26a1f;
    --illustrations-20: #b5eadd;
    --illustrations-21: #549f8c;
    --illustrations-22: #009faa;
    --illustrations-23: #105155;
    --illustrations-24: #4f4f4f;
    --illustrations-25: #787878;
    --illustrations-26: #bbbbbb;
    --illustrations-27: #dddddd;
    --illustrations-28: #f6f6f6;
    --illustrations-29: #dd0000;
    --illustrations-30: #f9a000;
    --illustrations-31: #358451;
    --status-tag-deadline---light: #f2f5f7;
    --status-tag-deadline---dark: #56595b;
    --status-tag-info---light: #cceff4;
    --status-tag-info---dark: #00587c;
    --status-tag-positive---light: #d8f2db;
    --status-tag-positive---dark: #01594c;
    --status-tag-warning---light: #ffe8c9;
    --status-tag-warning---dark: #9c540e;
    --status-tag-negative---light: #f8cccc;
    --status-tag-negative---dark: #9a0000;
    --status-tag-new---light: #ffc627;
    --status-tag-new---dark: #1e1e1e;
    --mobility-ztl---dark: #003064;
    --mobility-ztl---medium: #00499b;
    --mobility-ztl---light: #c5e0fe;
    --mobility-pullman---dark: #510101;
    --mobility-pullman---medium: #7c0303;
    --mobility-pullman---light: #fbe5e5;
    --mobility-bus---dark: #bd590d;
    --mobility-bus---medium: #f26a1f;
    --mobility-bus---light: #fef0e5;
    --mobility-tram---dark: #bd590d;
    --mobility-tram---medium: #f26a1f;
    --mobility-tram---light: #fef0e5;
    --mobility-taxi---dark: #eda900;
    --mobility-taxi---medium: #ffc627;
    --mobility-taxi---light: #fff6dc;
    --mobility-harbor---dark: #007279;
    --mobility-harbor---medium: #009faa;
    --mobility-harbor---light: #e5f5f7;
    --mobility-train---dark: #478400;
    --mobility-train---medium: #58a600;
    --mobility-train---light: #eef6e5;
    --mobility-metro---dark: #9f1930;
    --mobility-metro---medium: #dd052b;
    --mobility-metro---light: #fbe5e5;
    --mobility-sharing---dark: #a931ff;
    --mobility-sharing---medium: #bf6cfb;
    --mobility-sharing---light: #f5e8fe;
    --mobility-ncc---dark: #543c87;
    --mobility-ncc---medium: #7452bb;
    --mobility-ncc---light: #dacbf9;
    --mobility-garage---dark: #003064;
    --mobility-garage---medium: #00499b;
    --mobility-garage---light: #d2e7ff;
    --mobility-parking---dark: #215c84;
    --mobility-parking---medium: #4d8aa3;
    --mobility-parking---light: #ecf2f5;
    --mobility-charging-station---dark: #215c84;
    --mobility-charging-station---medium: #7fbfe9;
    --mobility-charging-station---light: #ddf1ff;
    --mobility-car-rental---dark: #ff7400;
    --mobility-car-rental---medium: #ff9900;
    --mobility-car-rental---light: #ffedd2;
    --mobility-airports---dark: #4f4f4f;
    --mobility-airports---medium: #787878;
    --mobility-airports---light: #f6f6f6;
    --mobility-pin---dark: #4f4f4f;
    --mobility-pin---medium: #787878;
    --mobility-pin---light: #ebebeb;
    --mobility-favorites---dark: #00587c;
    --mobility-favorites---medium: #00aec7;
    --mobility-favorites---light: #ffffff;
    --mobility-walk---dark: #787878;
    --mobility-walk---medium: #bbbbbb;
    --mobility-walk---light: #dddddd;
    --mobility-garagetelepass---dark: #eda900;
    --mobility-garagetelepass---medium: #ffc627;
    --mobility-garagetelepass---light: #fff6dc;
    --mobility-skipass---dark: #6097ad;
    --mobility-skipass---medium: #c4d4d5;
    --mobility-skipass---light: #e6eef2;
    --mobility-experience---dark: #cf663d;
    --mobility-experience---medium: #f3ad8b;
    --mobility-experience---light: #ffe4ad;
    --mobility-apparked---dark: #003064;
    --mobility-apparked---medium: #0027b5;
    --mobility-apparked---light: #459af7;
    --metro-milano-m1: #dd052b;
    --metro-milano-m2: #5d9732;
    --metro-milano-m3: #fdbe01;
    --metro-milano-m4: #007eb5;
    --metro-milano-m5: #a392c7;
    --metro-roma-mea: #f26a1f;
    --metro-roma-meb: #007eb5;
    --metro-roma-mec: #508414;
    --metro-brescia-1: #007eb5;
    --metro-torino-1: #dd052b;
    --metro-torino-2: #0027b5;
    --metro-genova-1: #dd052b;
    --metro-catania-1: #dd052b;
    --metro-napoli-1: #fdbe01;
    --metro-napoli-6: #7fbfe9;
    --maps-white-70pct: #ffffff4d;
    --maps-white-80pct: #ffffffcc;
    --maps-25: #4286f566;
    --maps-50: #4286f5;
    --maps-01: #00587c1a;
    --maps-02: #00587c;
    --maps-03: #6248981a;
    --maps-04: #624898;
    --maps-05: #00a0aa1a;
    --maps-06: #009faa;
    --maps-07: #f9a0001a;
    --maps-08: #f9a000;
    --maps-09: #dd00001a;
    --maps-10: #dd0000;
    --means-of-transport-position-train---30pct: #58a6004d;
    --means-of-transport-position-train---10pct: #58a6001a;
    --means-of-transport-position-bus---30pct: #bd590d4d;
    --means-of-transport-position-bus---10pct: #bd590d1a;
    --means-of-transport-position-tram---30pct: #bd590d4d;
    --means-of-transport-position-tram---10pct: #bd590d1a;
    --means-of-transport-position-pullman---30pct: #d200004d;
    --means-of-transport-position-pullman---10pct: #d200001a;
    --means-of-transport-position-harbor---30pct: #009faa4d;
    --means-of-transport-position-harbor---10pct: #00a0aa1a;
    --ticket-to-be-actived: #ffc627;
    --ticket-active: #358451;
    --ticket-expired: #dd0000;
    --white-label-dark: #612182;
    --white-label-medium: #ae3ce7;
    --white-label-light: #efd1ff;
  }
  