/*effect style*/ 
.light-line-up {
    box-shadow: inset 0px 0.5px 0px rgba(187, 187, 187, 1);
  }
  .light-line-dw {
    box-shadow: inset 0px -0.5px 0px rgba(187, 187, 187, 1);
  }
  .light--01 {
    box-shadow: inset 0px 0.5px 4px rgba(0, 0, 0, 0.1);
  }
  .light-01 {
    box-shadow: 0px 0.5px 2px rgba(96, 97, 112, 0.2), 0px 0px 1px rgba(40, 41, 61, 0.1);
  }
  .light-02 {
    box-shadow: 0px 2px 4px rgba(96, 97, 112, 0.2), 0px 0px 1px rgba(40, 41, 61, 0);
  }
  .light-03 {
    box-shadow: 0px 4px 8px rgba(96, 97, 112, 0.2), 0px 0px 2px rgba(40, 41, 61, 0);
  }
  .light-04 {
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
  }
  .dark--01 {
    box-shadow: inset 0px 0.5px 4px rgba(0, 0, 0, 0.3);
  }
  .dark-01 {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 0px 1px rgba(40, 41, 61, 0.1);
  }
  .dark-02 {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3), 0px 0px 1px rgba(0, 0, 0, 0);
  }
  .dark-03 {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3), 0px 0px 2px rgba(0, 0, 0, 0);
  }
  .dark-04 {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3), 0px 2px 4px rgba(0, 0, 0, 0);
  }
  .ticket-inactive {
    box-shadow: inset 6px 0px 0px rgba(255, 198, 39, 1), inset 0px -0.5px 0px rgba(187, 187, 187, 1);
  }
  .ticket-active {
    box-shadow: inset 6px 0px 0px rgba(53, 133, 81, 1), inset 0px -0.5px 0px rgba(187, 187, 187, 1);
  }
  .segui-il-viaggio-step {
    box-shadow: 0px 2px 8px rgba(125, 132, 235, 0.2);
  }
  
  